/*gloabal*/
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.container {
  width: 1146px;
  margin: 0 auto;
}
.btn {
  background-color: rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}
/*gloabal*/
.index_bg-1 {
  background-color: #849d8f;
  background-image: url(../img/header-slide-1.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.index_bg-2 {
  background-color: #8996a6;
  background-image: url(../img/header-slide-2.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.index_bg-3 {
  background-color: #9d8b84;
  background-image: url(../img/header-slide-3.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.catalog__bg {
  background-color: #849d8f;
}
/*header*/
.page-header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.logo {
  margin: 0;
  margin-right: 12px;
  padding: 0;
}
.main-nav__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.info-list__item {
  padding-top: 7px;
  padding-right: 13px;
  padding-bottom: 7px;
  padding-left: 12px;
  border-radius: 18px;
  background-color: transparent;
}
.info-list__item_catalog {
  margin-right: 3px;
}
.info-list__item_delivery {
  margin-right: 3px;
}
.info-list__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  display: block;
}
.info-list__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
}
.info-list__item:hover,
.info-list__item:focus {
  padding: 0;
}
.info-list__item:hover .info-list__link,
.info-list__item:focus .info-list__link {
  padding-top: 7px;
  padding-right: 13px;
  padding-bottom: 7px;
  padding-left: 12px;
  color: #333333;
  border-radius: 18px;
  background-color: #f7f6f3;
}
.info-list__item:hover .info-list__link::after,
.info-list__item:focus .info-list__link::after {
  background-color: transparent;
}
.info-list__link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
          box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
}
.info-list__link_catalog {
  position: relative;
}
.info-list__link_catalog::after {
  position: absolute;
  content: "";
}
.info-list__item_active-page {
  background-color: #d07058;
}
.info-list__item_active-page .info-list__link::after {
  background-color: transparent;
}
.main-nav__user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 14px;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.user__item {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
}
.user__item_btn-search {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  padding-top: 7px;
  padding-left: 8px;
  border-radius: 50%;
}
.user__item_btn-search:hover,
.user__item_btn-search:focus {
  outline: none;
  background-color: #ffffff;
}
.user__item_btn-search:hover
.user__link_icon-search,
.user__item_btn-search:focus
.user__link_icon-search {
  fill: #000000;
}
.user__item_btn-account {
  position: relative;
  margin-right: 11px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 44px;
  border-radius: 18px;
}
.user__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.user__link_icon-account {
  position: absolute;
  top: 6px;
  left: 16px;
}
.user__item_btn-account:hover,
.user__item_btn-account:focus {
  color: #323232;
  outline: none;
  background-color: #ffffff;
}
.user__item_btn-account:hover .user__link_btn-account,
.user__item_btn-account:focus .user__link_btn-account {
  color: #323232;
}
.user__item_btn-account:hover
.user__link_icon-account,
.user__item_btn-account:focus
.user__link_icon-account {
  fill: #000000;
}
.user__item_btn-cart {
  position: relative;
  padding-top: 4px;
  padding-right: 33px;
  padding-bottom: 6px;
  padding-left: 45px;
  border-radius: 18px;
}
.user__link_icon-cart {
  position: absolute;
  top: 6px;
  left: 16px;
}
.user__item_btn-red-cart {
  position: relative;
  padding-right: 16px;
  padding-left: 44px;
  background-color: #ffffff;
}
.user__item_btn-red-cart .user__link_btn-cart {
  color: #323232;
}
.user__item_btn-cart:hover,
.user__item_btn-cart:focus {
  color: #323232;
  outline: none;
  background-color: #ffffff;
}
.user__item_btn-cart:hover .user__link_btn-cart,
.user__item_btn-cart:focus .user__link_btn-cart {
  color: #323232;
}
.user__item_btn-cart:hover
.user__link_icon-cart,
.user__item_btn-cart:focus
.user__link_icon-cart {
  fill: #000000;
}
.work-schedule {
  position: absolute;
  top: 73px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 267px;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.work-schedule__time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
  color: #ffffff;
}
.work-schedule__number {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
/*header*/
/*footer*/
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.social {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  margin-right: 26px;
  padding-top: 18px;
  padding-left: 2px;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.social__item {
  margin-right: 13px;
}
.social__img {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.social__img:hover,
.social__img:focus {
  fill: rgba(255, 255, 255, 1);
}
.social__img:active {
  fill: #e9e9e9;
}
.social__item_vk {
  margin-right: 0;
}
.footer-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;
  margin-right: 26px;
  margin-bottom: 30px;
  padding-top: 11px;
  padding-right: 125px;
  padding-left: 105px;
}
.footer-info__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-info__list::before {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 15px;
  height: 13px;
  content: "";
  cursor: pointer;
  background-image: url("../img/footer-icon-heart.min.svg");
}
.footer-info__item_1 {
  margin-right: 32px;
}
.footer-info__item_3 {
  margin-right: 43px;
}
.footer-info__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  outline: none;
}
.footer-info__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
}
.footer-info__link_special {
  font-weight: 700;
}
.footer-info__link:hover,
.footer-info__link:focus {
  color: #ffbc9e;
}
.footer-info__link:active {
  color: #ffbc9e;
}
.footer-info__link:hover::after,
.footer-info__link:focus::after {
  background-color: #ffbc9e;
}
.footer-info__link:active::after {
  background-color: #ffbc9e;
}
.made-logo {
  width: 267px;
}
.made-logo__inner {
  padding-left: 79px;
}
.made-logo__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  text-align: right;
  color: #fefefe;
}
.made-logo__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  color: #fefefe;
  outline: none;
}
.made-logo__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
}
.made-logo__link:hover,
.made-logo__link:focus {
  color: #ffbc9e;
}
.made-logo__link:active {
  color: #ffbc9e;
}
.made-logo__link:hover::after,
.made-logo__link:focus::after {
  background-color: #ffbc9e;
}
.made-logo__link:active::after {
  background-color: #ffbc9e;
}
/*footer*/
/*header-index*/
.slider {
  position: relative;
  width: 100%;
}
.slider__list-slides {
  margin: 0;
  padding: 0;
  padding-top: 313px;
  list-style: none;
}

.slider__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  margin-bottom: 31px;
  text-align: center;
  color: #ffffff;
}
.slider__item_hidden {
  display: none;
}
.slider__btn {
  margin-bottom: 41px;
  margin-left: 434px;
}
.btn__slider {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  position: relative;
  display: inline-block;
  margin-bottom: 41px;
  padding-top: 8px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 40px;
  vertical-align: top;
  color: #ffffff;
  border-radius: 30px;
  outline: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.btn__slider:hover::before,
.btn__slider:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__slider:active {
  color: #fceeec;
}
.btn__slider:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
.slider__list-controls {
  position: absolute;
  top: 485px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.slider__controls-item {
  margin-right: 9px;
}
.slider__controls-item_3 {
  margin-right: 0;
}
.slider__controls-toggle {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
}
.slider__controls-toggle_active {
  background-color: #ffffff;
}
.slider__controls-toggle:hover,
.slider__controls-toggle:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
.slider__controls-toggle:active {
  background-color: #ffffff;
}
.slider__controls-toggle_active:hover,
.slider__controls-toggle_active:focus {
  background-color: #ffffff;
}
/*header-index*/
/*main-index*/
.action {
  margin-bottom: 40px;
}
.action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.action__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;
  padding-top: 15px;
  padding-right: 0;
  padding-left: 18px;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.action__item_raspberry {
  margin-right: 26px;
  border-radius: 15px;
  background-color: #752332;
  background-image: url("../img/main-action-raspberry-1.jpg");
}
.action__item_chocolate {
  border-radius: 15px;
  background-color: #4c3429;
  background-image: url("../img/main-action-chocolate-1.jpg");
}
.action__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  margin-bottom: 15px;
}
.action__desc {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  margin-bottom: 44px;
  text-align: left;
}
.action__desc_raspberry {
  padding-right: 17px;
  padding-left: 2px;
}
.action__desc_chocolate {
  padding-right: 17px;
  padding-left: 2px;
}
.action__btn {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 23px;
  outline: none;
}
.btn__action-raspberry {
  position: relative;
  width: 165px;
  margin-right: auto;
  margin-left: 357px;
  padding-top: 11px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 24px;
  text-align: center;
}
.btn__action-raspberry:hover::before,
.btn__action-raspberry:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__action-raspberry:active {
  color: #fceeec;
}
.btn__action-raspberry:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
.btn__action-chocolate {
  position: relative;
  width: 189px;
  margin-right: auto;
  margin-left: 334px;
  padding-top: 11px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 21px;
  text-align: center;
}
.btn__action-chocolate:hover::before,
.btn__action-chocolate:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__action-chocolate:active {
  color: #fceeec;
}
.btn__action-chocolate:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
.gallery {
  margin-bottom: 37px;
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.card {
  position: relative;
  width: 267px;
  margin-right: 26px;
}
.card_hit::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  content: "";
  background-image: url("../img/main-galleru-icon-hit.min.svg");
  background-color: #ffffff;
}
.card_card4 {
  margin-right: 0;
}
.card__inner {
  width: 267px;
  height: 267px;
  margin: 0;
  margin-bottom: 15px;
}
.card__img {
  border-radius: 50%;
}
.card__price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position: absolute;
  top: 210px;
  left: 0;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}
.card__price span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.card__desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  text-align: center;
  -webkit-text-decoration: underline rgba(255, 255, 255, 0.2);
          text-decoration: underline rgba(255, 255, 255, 0.2);
}
.card__hidden-info {
  display: none;
}
.card:hover .card__hidden-info,
.card:focus .card__hidden-info {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  width: 293px;
  height: 405px;
  margin-top: -6px;
  margin-left: -13px;
  content: "";
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
}
.btn__card-link_hidden {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: absolute;
  top: 339px;
  left: 46px;
  padding-top: 10px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-left: 17px;
  content: "";
  text-align: center;
}
.btn__card-link_hidden:hover::before,
.btn__card-link_hidden:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__card-link_hidden:active {
  color: #fceeec;
}
.btn__card-link_hidden:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
.about {
  margin-bottom: 40px;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  background-color: #e1d5b9;
  background-image: url("../img/main-about-bg.jpg");
}
.about__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  display: block;
  margin: 0;
  margin-bottom: 21px;
  color: #323232;
}
.about__features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__features-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  margin-bottom: 22px;
  padding-left: 56px;
}
.about__features-item_features1 {
  margin-right: 26px;
}
.about__features-item_features3 {
  margin-right: 26px;
  margin-bottom: 24px;
}
.about__features-item_features4 {
  margin-bottom: 24px;
}
.about__features-item_features1::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  margin-top: -12px;
  content: "";
  background-image: url("../img/main-icon-icecream.min.svg");
}
.about__features-item_features2::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  margin-top: -12px;
  content: "";
  background-image: url("../img/main-icon-cow.min.svg");
}
.about__features-item_features3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  margin-top: -12px;
  content: "";
  background-image: url("../img/main-icon-list.min.svg");
}
.about__features-item_features4::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  margin-top: -12px;
  content: "";
  background-image: url("../img/main-icon-temperature.min.svg");
}
.about__features-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  color: #323232;
}
.useful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.blog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;
  margin: 0;
  margin-right: 26px;
  padding: 0;
  padding-top: 23px;
  padding-right: 248px;
  padding-left: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  background-image: url("../img/main-blog-bg.jpg");
}
.blog__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  margin-bottom: 4px;
  color: #323232;
}
.blog__title-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  display: inline-block;
  margin-bottom: 81px;
  vertical-align: top;
  text-decoration: underline;
  color: #323232;
  outline: none;
}
.blog__title-link:hover,
.blog__title-link:focus {
  color: #ffbc9e;
}
.blog__title-link:active {
  color: #ffbc9e;
}
.news {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;
  padding: 5px;
  border-radius: 15px;
  border-radius: 15px;
  background: repeating-linear-gradient(135deg, #92cdff 9px, #92cdff 16px, #ffffff 16px, #ffffff 23px, #fe9e90 23px, #fe9e90 30px, #ffffff 30px, #ffffff 37px);
}
.news__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 550px;
  padding-top: 24px;
  padding-right: 8px;
  padding-left: 16px;
  border: 5px solid transparent;
  border-radius: 15px;
  background-color: #f0d8d1;
}
.news__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 35px;
  color: #5a5a5a;
}
.form-subscribe__input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 366px;
  margin-right: 11px;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 9px;
  padding-left: 13px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  outline: none;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.form-subscribe__input:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  margin-bottom: 29px;
  margin-top: -1px;
}
.form-subscribe__input:focus {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  margin-bottom: 29px;
  margin-top: -1px;
}
.form-subscribe__input::-webkit-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-subscribe__input:-ms-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-subscribe__input::-ms-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-subscribe__input::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.btn__form-subscribe {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 9px;
  padding-left: 16px;
  cursor: pointer;
  color: #fefefe;
  border: 0;
  outline: none;
}
.btn__form-subscribe:hover::before,
.btn__form-subscribe:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__form-subscribe:active {
  color: #fceeec;
}
.btn__form-subscribe:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
.map .container {
  position: relative;
}
.map__inner {
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  margin-bottom: 18px;
}
.map__adress-inner {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 302px;
  margin-top: -386px;
  padding-top: 29px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 15px;
  background-color: #f8fafa;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.map__adress-top-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 1px;
  color: #323232;
}
.map__adress-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 18px;
  color: #323232;
}
.map__adress-text-middle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 5px;
  color: #323232;
}
.map__adress-phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 2px;
  color: #323232;
}
.map__adress-text-bottom {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 23px;
  color: #323232;
}
.btn__map_open {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 33px;
  padding-top: 11px;
  padding-right: 27px;
  padding-bottom: 9px;
  padding-left: 28px;
  text-align: center;
  outline: none;
}
.btn__map_open:hover::before,
.btn__map_open:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__map_open:active {
  color: #fceeec;
}
.btn__map_open:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
.map__static_hide-map {
  display: none;
}
/*main-index*/
/*modal-catalog*/
.modal-catalog {
  position: absolute;
  z-index: 2;
  top: 48px;
  left: 157px;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 143px;
  padding-top: 12px;
  background-color: transparent;
}
.info-list__item_catalog:hover .modal-catalog,
.info-list__item_catalog:focus .modal-catalog {
  display: block;
}
.modal-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  list-style: none;
  border-radius: 6px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.modal-catalog__item {
  width: 100%;
}
.modal-catalog__item_title {
  padding-right: 9px;
  padding-left: 6px;
}
.modal-catalog__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  padding-bottom: 15px;
  padding-left: 14px;
  color: #323232;
  border-bottom: 1px solid #d1d0ce;
}
.modal-catalog__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 20px;
  color: #323232;
}
.modal-catalog__link_4 {
  margin-bottom: 14px;
}
.modal-catalog__link:hover,
.modal-catalog__link:focus {
  background-color: #fbded7;
}
.modal-catalog__link:active {
  background-color: #f6b5a5;
}
.modal-catalog__link_active {
  background-color: #d07058;
}
/*modal-catalog*/
/*modal-search*/
.modal-search {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 341px;
  padding-top: 8px;
}
.user__item_btn-search:hover .modal-search,
.user__item_btn-search:focus .modal-search {
  position: absolute;
  z-index: 2;
  top: 51px;
  right: 231px;
  display: block;
}
.form-search {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.form-search__input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;
  color: #323232;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  outline: none;
}
.form-search__input:hover {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  margin-bottom: 18px;
}
.form-search__input:focus {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  margin-bottom: 18px;
}
.form-search__input::-webkit-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-search__input:-ms-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-search__input::-ms-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-search__input::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
/*modal-search*/
/*modal-user*/
.modal-user {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 277px;
  padding-top: 10px;
}
.user__item_btn-account:hover .modal-user,
.user__item_btn-account:focus .modal-user {
  position: absolute;
  z-index: 1;
  top: 28px;
  right: 0;
  display: block;
}
.form-user {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.form-user__input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;
  color: #323232;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  outline: none;
}
.form-user__input:hover {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  margin-bottom: 18px;
}
.form-user__input:focus {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  margin-bottom: 18px;
}
.form-user__input::-webkit-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-user__input:-ms-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-user__input::-ms-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-user__input::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-user__link-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.form-user__left-col {
  margin-right: 19px;
}
.btn__form-user {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 24px;
  cursor: pointer;
  color: #fefefe;
  border: 0;
  outline: none;
}
.btn__form-user:hover::before,
.btn__form-user:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__form-user:active {
  color: #fceeec;
}
.btn__form-user:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
.form-user__right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-user__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  color: #323232;
}
.form-user__link:hover,
.form-user__link:focus,
.form-user__link:active {
  color: #e84d37;
}
/*modal-user*/
/*modal-callback*/
.modal-callback {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 477px;
  margin-top: -221px;
  margin-left: -233px;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 24px;
  border-radius: 6px;
  background-color: #f8f7f4;
}
.modal-callback_show {
  display: block;
}
.modal-callback__title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  display: block;
  margin-bottom: 23px;
  color: #323232;
}
.modal-callback__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: -8px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.modal-callback__close-btn::before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 1px;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000000;
}
.modal-callback__close-btn::after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 1px;
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000000;
}
.form-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-callback__input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;
  color: #323232;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  outline: none;
}
.form-callback__input::-webkit-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-callback__input:-ms-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-callback__input::-ms-input-placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-callback__input::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.form-callback__input:hover {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  margin-bottom: 18px;
}
.form-callback__input:focus {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  margin-bottom: 18px;
}
.form-callback__input_area {
  min-height: 155px;
  margin-bottom: 25px;
}
.form-callback__input_area:hover {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  margin-bottom: 25px;
}
.form-callback__input_area:focus {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  margin-bottom: 25px;
}
.btn__form-callback-submit {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  margin-bottom: 27px;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 9px;
  padding-left: 24px;
  cursor: pointer;
  color: #fefefe;
  border: 0;
  outline: none;
}
.btn__form-callback-submit:hover::before,
.btn__form-callback-submit:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__form-callback-submit:active {
  color: #fceeec;
}
.btn__form-callback-submit:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.modal-overlay-show {
  display: block;
}
/*modal-callback*/
/*header-catalog*/
.user__link_catalog {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding-right: 16px;
  padding-left: 44px;
  color: #323232;
}
.logo__link {
  display: block;
}
.page-header_catalog {
  margin-bottom: 16px;
}
.breadcrumps {
  margin-bottom: 2px;
}
.breadcrumps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.breadcrumps__item_1 {
  position: relative;
  padding-right: 20px;
}
.breadcrumps__item_2 {
  position: relative;
  padding-right: 21px;
}
.breadcrumps__item_1::after {
  position: absolute;
  top: 0;
  right: 8px;
  content: "»";
}
.breadcrumps__item_2::after {
  position: absolute;
  top: 0;
  right: 8px;
  content: "»";
}
.breadcrumps__link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}
.breadcrumps__link_underline {
  -webkit-text-decoration: underline rgba(255, 255, 255, 0.2);
          text-decoration: underline rgba(255, 255, 255, 0.2);
}
/*header-catalog*/
/*main-catalog*/
.page-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  margin-bottom: 26px;
  color: #ffffff;
}
.form-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  -ms-flex-line-pack: start;

      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-filter__title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 7px;
  padding-left: 15px;
  color: #ffffff;
}
.form-filter__field_sort {
  position: relative;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: 0;
}
.form-filter__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: #aabcb2;
}
.form-filter__option-link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  display: block;
  padding-right: 50px;
  color: #ffffff;
}
.form-filter__option-link:hover,
.form-filter__option-link:focus {
  color: #323232;
}
.form-filter__option-link::after {
  position: absolute;
  top: 5px;
  right: 14px;
  width: 11px;
  height: 10px;
  content: "";
  background-image: url("../img/sort-icon-down-dir.min.svg");
}
.form-filter__option-link:hover::after,
.form-filter__option-link:focus::after {
  background-image: url("../img/sort-black-icon-down-dir.min.svg");
}
.form-filter__field_range {
  margin: 0;
  margin-right: 17px;
  padding: 0;
  border: 0;
}
.price-range__controls {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 218px;
  padding: 16px 21px;
  border-radius: 20px;
  background-color: #aabcb2;
}
.price-range__scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}
.price-range__bar {
  width: 106px;
  height: 4px;
  margin-left: 16px;
  background-color: rgba(255, 255, 255, 1);
}
.price-range__toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
}
.price-range__toggle:hover,
.price-range__toggle:focus {
  border: 9px solid #ffffff;
}
.price-range__toggle-min {
  top: 8px;
  left: 37px;
}
.price-range__toggle-max {
  top: 8px;
  left: 135px;
}
.form-filter__field_fatness {
  margin: 0;
  padding: 0;
  border: 0;
}
.percent-fatness__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 17px;
  padding-bottom: 9px;
  padding-left: 14px;
  list-style: none;
  border-radius: 20px;
  background-color: #aabcb2;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.percent-fatness__item {
  margin-right: 19px;
}
.percent-fatness__item_1 {
  margin-right: 15px;
}
.percent-fatness__item_2 {
  margin-right: 17px;
}
.percent-fatness__item_3 {
  margin-right: 16px;
}
.percent-fatness__item_4 {
  margin-right: 0;
}
.percent-fatness__option {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  display: block;
  padding-left: 33px;
  cursor: pointer;
  opacity: 0.8;
  color: #ffffff;
}
.percent-fatness__option:hover,
.percent-fatness__option:focus {
  opacity: 1;
}
.percent-fatness__option::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  content: "";
  background-image: url("../img/filter-radio-off.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.percent-fatness__input-radio:checked + .percent-fatness__option::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  content: "";
  background-image: url("../img/filter-radio-on.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.percent-fatness__input-radio:disabled + .percent-fatness__option::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  content: "";
  background-image: url("../img/filter-radio-off-disabled.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.percent-fatness__input-radio:checked:disabled + .percent-fatness__option::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  content: "";
  background-image: url("../img/filter-radio-on-disabled.min.svg-disabled.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.form-filter__field_filler {
  margin: 0;
  margin-top: 14px;
  margin-right: 14px;
  padding: 0;
  border: 0;
}
.filler__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 19px;
  padding-bottom: 9px;
  padding-left: 16px;
  list-style: none;
  border-radius: 20px;
  background-color: #aabcb2;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
}
.filler__item_1 {
  margin-right: 20px;
}
.filler__item_2 {
  margin-right: 24px;
}
.filler__item_3 {
  margin-right: 24px;
}
.filler__item_4 {
  margin-right: 21px;
}
.filler__item_5 {
  margin-right: 0;
}
.filler__option {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  display: block;
  padding-left: 31px;
  cursor: pointer;
  opacity: 0.8;
  color: #ffffff;
}
.filler__option:hover,
.filler__option:focus {
  opacity: 1;
}
.filler__option::before {
  position: absolute;
  top: 11px;
  left: 0;
  width: 23px;
  height: 23px;
  margin-top: -11px;
  content: "";
  background-image: url("../img/filter-checkbox-off.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filler__input-checkbox:checked + .filler__option::before {
  position: absolute;
  top: 11px;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -11px;
  content: "";
  background-image: url("../img/filter-checkbox-on.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filler__input-checkbox:disabled + .filler__option::before {
  position: absolute;
  top: 11px;
  left: 0;
  width: 23px;
  height: 23px;
  margin-top: -11px;
  content: "";
  background-image: url("../img/filter-checkbox-off-disabled.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filler__input-checkbox:checked:disabled + .filler__option::before {
  position: absolute;
  top: 11px;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -11px;
  content: "";
  background-image: url("../img/filter-checkbox-on-disabled.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.form-filter__btn-submit {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 143px;
  margin-top: 37px;
  padding: 7px 28px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  outline: none;
  background-color: #aabcb2;
}
.form-filter__btn-submit:hover,
.form-filter__btn-submit:focus {
  color: #323232;
  background-color: #fbfcfb;
}
.form-filter__btn-submit:active {
  padding: 9px 30px;
  color: #323232;
  border: 0;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}
.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;;
}
.result__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 82px;
  padding: 0;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card_card8 {
  margin-right: 0;
}
.card_card12 {
  margin-right: 0;
}
.card_catalog-card1,
.card_catalog-card2,
.card_catalog-card3,
.card_catalog-card4 {
  margin-bottom: 38px;
}
.card_catalog-card5,
.card_catalog-card6,
.card_catalog-card7,
.card_catalog-card8 {
  margin-bottom: 38px;
}
.card_catalog-card5 .card__inner,
.card_catalog-card6 .card__inner,
.card_catalog-card7 .card__inner,
.card_catalog-card8 .card__inner {
  margin-bottom: 12px;
}
.card_catalog-card5 .card__inner {
  margin-bottom: 13px;
}
.card_catalog-card10 .card__inner,
.card_catalog-card11 .card__inner,
.card_catalog-card12 .card__inner {
  margin-bottom: 11px;
}
.pagination {
  margin-bottom: 31px;
  margin-left: auto;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pagination__item_prev {
  margin-right: 16px;
}
.pagination__item_1 {
  margin-right: 12px;
}
.pagination__item_2 {
  margin-right: 12px;
}
.pagination__item_3 {
  margin-right: 12px;
}
.pagination__item_4 {
  margin-right: 12px;
}
.pagination__item_5 {
  margin-right: 16px;
}
.pagination__item_next {
  margin-right: 0;
}
.pagination__link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-top: -4px;
  margin-right: -8px;
  padding-top: 4px;
  padding-left: 1px;
  padding-left: 8px;
  color: #ffffff;
  border-radius: 50%;
  background-color: transparent;
}
.pagination__link:hover,
.pagination__link:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination__link:active {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}
.pagination__link_active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-top: -4px;
  margin-right: -8px;
  padding-top: 4px;
  padding-left: 1px;
  padding-left: 8px;
  color: #323232;
  border-radius: 50%;
  background-color: #ffffff;
}
.pagination__link_active:hover,
.pagination__link_active:focus {
  background-color: rgba(255, 255, 255, 1);
}
.pagination__link_active:active {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}
.pagination__link_prev {
  position: relative;
}
.pagination__link_prev::before {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 8px;
  height: 12px;
  content: "";
  -webkit-transform: scale(-1,1);
          transform: scale(-1,1);
  background-image: url("../img/catalog-icon-left.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.pagination__link_next {
  position: relative;
}
.pagination__link_next::after {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 8px;
  height: 12px;
  content: "";
  background-image: url("../img/catalog-icon-right.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*main-catalog*/
/*modal-sort*/
.modal-sort {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 192px;
  padding-top: 8px;
}
.form-filter__field_sort:hover .modal-sort,
.form-filter__field_sort:focus .modal-sort {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 0;
  display: block;
}
.modal-sort__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.modal-sort__item {
  padding: 3px 21px;
}
.modal-sort__option-link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  color: #323232;
}
.modal-sort__item_active {
  background-color: #1e90ff;
}
.modal-sort__option-link:hover,
.modal-sort__option-link:focus {
  color: #ffbc9e;
}
.modal-sort__option-link:active {
  color: #ffbc9e;
}
.modal-sort__item_active:hover .modal-sort__option-link,
.modal-sort__item_active:focus .modal-sort__option-link {
  color: #323232;
  background-color: #1e90ff;
}
.modal-sort__item_active:active .modal-sort__option-link {
  color: #323232;
  background-color: #1e90ff;
}
/*modal-sort*/
/*modal-cart*/
.modal-cart {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  padding-top: 10px;
}
.user__item_btn-red-cart:hover .modal-cart,
.user__item_btn-red-cart:focus .modal-cart {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 0;
  display: block;
}
.modal-cart__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.cart-table {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: 100%;
  border-collapse: collapse;
  color: #323232;
  border-bottom: 1px solid #cacac7;
}
.cart-table__row_1 {
  margin-bottom: 20px;
}
.cart-table__col {
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
.cart-table__col_btn {
  width: 27px;
  padding-left: 1px;
  text-align: left;
}
.modal-cart__btn-del {
  position: relative;
  width: 11px;
  height: 11px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.modal-cart__btn-del::before {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 11px;
  height: 1px;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000000;
}
.modal-cart__btn-del::after {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 11px;
  height: 1px;
  content: "";
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #000000;
}
.cart-table__col_img {
  width: 55px;
}
.cart-table__img_1 {
  margin-bottom: 10px;
}
.cart-table__img_2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-table__col_desc {
  width: 247px;
}
.cart-table__img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.cart-table__col_price span {
  color: #999999;
}
.cart-table__col_price {
  width: 122px;
}
.modal-cart__text {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 17px;
  margin-bottom: 15px;
  caption-side: bottom;
  text-align: right;
  color: #323232;
}
.btn__modal-cart_submit {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  margin-bottom: 21px;
  margin-left: auto;
  padding: 10px 15px;
  cursor: pointer;
  color: #fefefe;
  border: 0;
  outline: none;
}
.btn__modal-cart_submit:hover::before,
.btn__modal-cart_submit:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}
.btn__modal-cart_submit:active {
  color: #fceeec;
}
.btn__modal-cart_submit:active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}
/*modal-cart*/
