<li class="filter-templates-item">
  <input class="visually-hidden filter-input filter-input-radio" type="radio" name="grid" value="adaptive" id="adaptive" aria-label="поле выбора типа сетки" checked>
  <label class="filter-option-adaptive" for="adaptive">Адаптивная</label>
</li>
___________________________________________________________________________
<li class="percent-fatness__item  percent-fatness__item_1">
  <input class="visually-hidden  percent-fatness__input  percent-fatness__input-radio" type="radio" name="fatness" value="percent0" id="percent0" aria-label="опция выбора мороженого с жирностью 0%">
  <label class="percent-fatness__option" for="percent0">0%</label>
</li>

.filter-templates-item label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  display: block;
  padding-left: 37px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #283136;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
  outline-width: 1px;
  outline-style: dotted;
  outline-color: #000000;
}
.filter-input:disabled + label {
  opacity: 0.3;
  color: #283136;
}
.filter-input-checkbox + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/catalog-filter-checkbox-off.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/catalog-filter-checkbox-on.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/catalog-form-search-checkbox-disabled-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/catalog-filter-radio-off.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/catalog-filter-radio-on.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:disabled + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/catalog-form-search-checkbox-disabled-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}